
@{
    ViewBag.Title = "Index";
}

<h2>This is created by PracticeView </h2>
@{ /* We can give here a anchor liks to navigate in oage in href - use direct path */}
@{ /* Any other use we will see it later like use with models  */}
<a href="/Home/Index">Home</a>
<a href="/Home/About">About</a>
<a href="/MyTest/Index">MyTest</a>

